---
layout: default
---

{% include page-header.html bg-image="assets/img/comcentia-img/abstract1.jpg"
                            title="Services"
                            desc="IT Services for Government, Small-to-Midsize, and Large Businesses" %}

<div class="container content margin-bottom-40">

  <p class="lead">Comcentia specializes in rapid development of mission-critical web applications, on time and on budget, for government, small-to-midsize businesses, and large enterprise businesses. Our custom application development is tailored to the needs of your supply chain, organization, department, or team.</p>


<div class="row">
  <!-- {% for service in site.data.service-types %}
    <div class="col-sm-4">
      hi
      <a href="{{site.baseurl}}/services/{{service.folder}}/" class="{% if page.url contains planet.folder %}current{% endif %}">{{service.title}}</a>
    </div>
  {% endfor %} -->


  <div class="col-sm-4">
    <h3 class="h4">Comcentia Services for Government Clients</h3>
    <ul class="list-group">
      <a class="list-group-item" href="{{site.baseurl}}/services/government/it-support-services.html">
        <h4 class="list-group-item-heading">IT Support Services</h4>
      </a>
      <a class="list-group-item" href="{{site.baseurl}}/services/government/business-intelligence-services.html">
        <h4 class="list-group-item-heading">Business Intelligence</h4>
      </a>
      <a class="list-group-item" href="{{site.baseurl}}/services/government/microsoft-cloud-services.html">
        <h4 class="list-group-item-heading">Microsoft® Cloud Services</h4>
      </a>
      <a class="list-group-item" href="{{site.baseurl}}/services/government/enterprise-application-development.html">
        <h4 class="list-group-item-heading">Enterprise Application Development</h4>
      </a>
      <a class="list-group-item" href="{{site.baseurl}}/services/government/technology-consulting-staffing.html">
        <h4 class="list-group-item-heading">Technology Consulting and Staffing</h4>
      </a>
    </ul>
  </div>
  <div class="col-sm-4">
    <h3 class="h4">Comcentia Services for Small-to-Midsize Businesses</h3>
    <ul class="list-group">
      <a class="list-group-item" href="{{site.baseurl}}/services/small-medium-business/microsoft-office-365.html">
        <h4 class="list-group-item-heading">Microsoft Office 365</h4>
      </a>
      <a class="list-group-item" href="{{site.baseurl}}/services/small-medium-business/website-application-development.html">
        <h4 class="list-group-item-heading">Website Application Development</h4>
      </a>
      <a class="list-group-item" href="{{site.baseurl}}/services/small-medium-business/application-integration.html">
        <h4 class="list-group-item-heading">Application Integration</h4>
      </a>
      <a class="list-group-item" href="{{site.baseurl}}/services/small-medium-business/managed-it-services.html">
        <h4 class="list-group-item-heading">Managed IT Services</h4>
      </a>
    </ul>
  </div>
  <div class="col-sm-4">
    <h3 class="h4">Comcentia Services for Large Businesses</h3>
    <ul class="list-group">
      <a class="list-group-item" href="{{site.baseurl}}/services/large-business/technology-consulting.html">
        <h4 class="list-group-item-heading">Technology Consulting</h4>
      </a>
      <a class="list-group-item" href="{{site.baseurl}}/services/large-business/systems-integration.html">
        <h4 class="list-group-item-heading">Systems Integration</h4>
      </a>
      <a class="list-group-item" href="{{site.baseurl}}/services/large-business/mobile-application-development.html">
        <h4 class="list-group-item-heading">Mobile Application Development</h4>
      </a>
      <a class="list-group-item" href="{{site.baseurl}}/services/large-business/enterprise-software-development.html">
        <h4 class="list-group-item-heading">Enterprise Software Development</h4>
      </a>
    </ul>
  </div>

</div>
</div>
<!-- end container -->
