
  <!--=== Call To Action ===-->
  <div class="call-action-v1 bg-grey">
      <div class="container">
          <div class="call-action-v1-box">
              <div class="call-action-v1-in">
                  <p>We are 8(a), DBE, and MBE certified</p>
              </div>
              <div class="pull-right">
                <img src="{{site.baseurl}}/assets/img/comcentia-img/DBE_Certified.png" alt="DBE Certified" width="70" height="auto" style="margin-right: 25px;">
                <img src="{{site.baseurl}}/assets/img/comcentia-img/MBE-logo.png" alt="MBE Certified" width="70" height="auto" style="margin-right: 25px;">
                <img src="{{site.baseurl}}/assets/img/comcentia-img/sb8a.png" alt="SB8a" width="100" height="auto" style="margin-right: 25px;">
                <img src="{{site.baseurl}}/assets/img/comcentia-img/microsoftpartner.png" alt="Microsoft Partner" width="100" height="auto">
              </div>
          </div>
      </div>
  </div>
  <!--=== End Call To Action ===-->

  <div class="footer">
      <div class="container">
          <div class="row">
              <!-- Link List -->
              <div class="col-md-3 md-margin-bottom-40">
                  <div class="headline"><h2>Site Map</h2></div>
                  <ul class="list-unstyled link-list">
                      <li><a href="{{site.baseurl}}/about.html">About</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="{{site.baseurl}}/services.html">Services</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="{{site.baseurl}}/candidate-management.html">Careers</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="{{site.baseurl}}/news.html">News</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="{{site.baseurl}}/events.html">Events</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="{{site.baseurl}}/case-studies.html">Case Studies</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="#">Contact</a><i class="fa fa-angle-right"></i></li>
                  </ul>
              </div><!--/col-md-3-->
              <!-- End Link List -->

              <!-- Services List -->
              <div class="col-md-3 md-margin-bottom-40">
                  <div class="headline"><h2>Services</h2></div>
                  <ul class="list-unstyled link-list">
                      <li><a href="{{site.baseurl}}/services/government.html">Government</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="{{site.baseurl}}/services/small-medium-business.html">Small-medium Business</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="{{site.baseurl}}/services/large-business.html">Large Business</a><i class="fa fa-angle-right"></i></li>
                  </ul>
              </div><!--/col-md-3-->
              <!-- End Services List -->

              <!-- Latest -->
              <div class="col-md-3 md-margin-bottom-40">
                  <div class="posts">
                      <div class="headline"><h2>Latest Posts</h2></div>
                      <ul class="list-unstyled latest-list">
                          <li>
                              <a href="#">Incredible content</a>
                              <small>May 8, 2014</small>
                          </li>
                          <li>
                              <a href="#">Best shoots</a>
                              <small>June 23, 2014</small>
                          </li>
                          <li>
                              <a href="#">New Terms and Conditions</a>
                              <small>September 15, 2014</small>
                          </li>
                      </ul>
                  </div>
              </div><!--/col-md-3-->
              <!-- End Latest -->

              <!-- Address -->
              <div class="col-md-3 map-img md-margin-bottom-40">
                  <div class="headline"><h2>Contact Us</h2></div>
                  <address class="md-margin-bottom-40">
                      Comcentia, LLC<br />
                      1025 W. Glen Oaks Lane<br />
                      Suite 211 <br />
                      Mequon, WI  53092<br />
                      +1.414.871.1100 <br />
                      Email: <a href="mailto:info@comcentia.com" class="">info@comcentia.com</a>
                  </address>
              </div><!--/col-md-3-->
              <!-- End Address -->
          </div>
      </div>
  </div><!--/footer-->

  <div class="copyright">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <p>
                      2015 &copy; All Rights Reserved.
                     <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                  </p>
              </div>

              <!-- Social Links -->
              <div class="col-md-6">
                  <ul class="footer-socials list-inline">
                      <li>
                          <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                              <i class="fa fa-facebook"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                              <i class="fa fa-skype"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                              <i class="fa fa-linkedin"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                              <i class="fa fa-twitter"></i>
                          </a>
                      </li>
                  </ul>
              </div>
              <!-- End Social Links -->
          </div>
      </div>
  </div><!--/copyright-->


</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/custom.js"></script>

<!-- JS Customization -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/custom.js"></script>

<!-- JS Page Level -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/app.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/plugins/owl-carousel.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/plugins/parallax-slider.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/forms/login.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/forms/contact.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/pages/page_contacts.js"></script>


<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        OwlCarousel.initOwlCarousel();
        ParallaxSlider.initParallaxSlider();
        ContactPage.initMap();
        LoginForm.initLoginForm();
        ContactForm.initContactForm();
    });
</script>

<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

</body>
</html>
