
  <!--=== Call To Action ===-->
  <div class="call-action-v1 bg-grey">
      <div class="container">
          <div class="call-action-v1-box">
              <div class="call-action-v1-in">
                  <p>We are 8(a), DBE, and MBE certified</p>
              </div>
              <div class="pull-right">
                <img src="{{site.baseurl}}/assets/img/comcentia-img/DBE_Certified.png" alt="DBE Certified" width="70" height="auto" style="margin-right: 25px;">
                <img src="{{site.baseurl}}/assets/img/comcentia-img/MBE-logo.png" alt="MBE Certified" width="70" height="auto" style="margin-right: 25px;">
                <img src="{{site.baseurl}}/assets/img/comcentia-img/sb8a.png" alt="SB8a" width="100" height="auto" style="margin-right: 25px;">
                <img src="{{site.baseurl}}/assets/img/comcentia-img/microsoftpartner.png" alt="Microsoft Partner" width="100" height="auto">
              </div>
          </div>
      </div>
  </div>
  <!--=== End Call To Action ===-->

  <div class="copyright">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <p>
                      &copy; 2016 Comcentia, LLC. All Rights Reserved. Privacy Policy | Terms of Service
                  </p>
              </div>

              <!-- Social Links -->
              <div class="col-md-6">
                  <ul class="footer-socials list-inline pull-right">
                      <li>
                          <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                              <i class="fa fa-facebook"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                              <i class="fa fa-skype"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                              <i class="fa fa-linkedin"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                              <i class="fa fa-twitter"></i>
                          </a>
                      </li>
                  </ul>
              </div>
              <!-- End Social Links -->
          </div>
      </div>
  </div><!--/copyright-->


</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/custom.js"></script>

<!-- JS Customization -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/custom.js"></script>

<!-- JS Page Level -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/app.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/plugins/owl-carousel.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/plugins/parallax-slider.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/forms/login.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/forms/contact.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/pages/page_contacts.js"></script>


<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        OwlCarousel.initOwlCarousel();
        ParallaxSlider.initParallaxSlider();
        ContactPage.initMap();
        LoginForm.initLoginForm();
        ContactForm.initContactForm();
    });
</script>

<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

</body>
</html>
