---
layout: default
---

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Welcome to Comcentia | Comcentia</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/animate.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/parallax-slider/css/parallax-slider.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">

    <!-- sky forms -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]>
        <style type="text/css">
            .gradient {
               filter: none;
            }
          </style>
        <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css">
    <![endif]-->

    <!-- Careers page -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/pages/page_job.css">

    <!-- Contact Page -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/pages/page_contact.css">

    <!--Comcentia Colors css-->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/theme-colors/comcentia-colors.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css">
</head>

<body>
<div class="wrapper">

  <div class="header-v1">
      <!-- Topbar -->
      <div class="topbar-v1">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <ul class="list-inline top-v1-contacts">
                          <li>
                              <i class="fa fa-envelope"></i> Email: <a href="mailto:info@comcentia.com">info@comcentia.com</a>
                          </li>
                          <li>
                              <i class="fa fa-phone"></i> Phone: +1.414.871.1100
                          </li>
                      </ul>
                  </div>

                  <div class="col-md-6">
                      <ul class="list-inline top-v1-data">
                          <li><em><strong>Agile, Scalable, Purposeful IT Solutions</strong></em></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <!-- End Topbar -->

      <nav class="navbar navbar-default">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <a class="navbar-brand" href="{{site.baseurl}}/index.html">
              <img src="{{site.baseurl}}/assets/img/comcentia-img/comcentia-logo.png" alt="Comcentia Logo">
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

              <li class="dropdown {% if page.url contains 'about' or page.url contains 'meet-team' or page.url contains 'approach' %} active{% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                <ul class="dropdown-menu">
                  <li class="{% if page.url contains 'about' %}active{% endif %}">
                      <a href="{{site.baseurl}}/about.html">About Us</a>
                  </li>
                  <li class="{% if page.url contains 'meet-team' %}active{% endif %}">
                      <a href="{{site.baseurl}}/meet-team.html">Meet the Team</a>
                  </li>
                  <li class="{% if page.url contains 'approach' %}active{% endif %}">
                      <a href="{{site.baseurl}}/approach">Our Approach</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown {% if page.url contains 'services' %}active{% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                <ul class="dropdown-menu">
                  <li class="{% if page.url contains 'all-services' %}active{% endif %}">
                    <a href="{{site.baseurl}}/services.html"><strong>All Services</strong></a>
                  </li>

                  <li>
                    <a href="{{site.baseurl}}/services/government.html"><strong>GOVERNMENT</strong></li></a>
                  <li class="{% if page.url contains 'it-support-services' %}active{% endif %}">
                    <a href="{{site.baseurl}}/services/government/it-support-services.html">IT Support Services</a>
                  </li>
                  <li class="{% if page.url contains 'business-intelligence' %}active{% endif %}">
                    <a href="{{site.baseurl}}/services/government/business-intelligence-services.html">Business Intelligence Services</a>
                  </li>
                  <li class="{% if page.url contains 'microsoft-cloud-services' %}active{% endif %}">
                    <a href="{{site.baseurl}}/services/government/microsoft-cloud-services.html">Microsoft Cloud Services</a>
                  </li>
                  <li class="{% if page.url contains 'enterprise-application-development' %}active{% endif %}">
                    <a href="{{site.baseurl}}/services/government/enterprise-application-development.html">Enterprise Application Development</a>
                  </li>
                  <li class="{% if page.url contains 'government/technology-consulting-staffing' %}active{% endif %}">
                    <a href="{{site.baseurl}}/services/government/technology-consulting-staffing.html">Technology Consulting and Staffing</a>
                  </li>


                  <li>
                    <a href="{{site.baseurl}}/services/small-medium-business.html"><strong>SMALL-MEDIUM BUSINESS</strong></a>
                  </li>
                  <li class="{% if page.url contains 'microsoft-office' %}active{% endif %}">
                    <a href="{{site.baseurl}}/services/small-medium-business/microsoft-office-365.html">Microsoft Office 365</a>
                  </li>
                  <li class="{% if page.url contains 'website-application-development' %}active{% endif %}">
                    <a href="{{site.baseurl}}/services/small-medium-business/website-application-development.html">Website Application Development</a>
                  </li>
                  <li class="{% if page.url contains 'application-integration' %}active{% endif %}">
                    <a href="{{site.baseurl}}/services/small-medium-business/application-integration.html">Applicaton Integration</a>
                  </li>
                  <li class="{% if page.url contains 'managed-it-services' %}active{% endif %}">
                    <a href="{{site.baseurl}}/services/small-medium-business/managed-it-services.html">Managed IT Services</a>
                  </li>

                  <li>
                    <a href="{{site.baseurl}}/services/large-business.html"><strong>LARGE BUSINESS</strong></a>
                  </li>
                  <li class="{% if page.url contains 'systems-integration' %}active{% endif %}">
                    <a href="{{site.baseurl}}/services/large-business/systems-integration.html">Systems Integration</a>
                  </li>
                  <li class="{% if page.url contains 'mobile-application-development' %}active{% endif %}">
                    <a href="{{site.baseurl}}/services/large-business/mobile-application-development.html">Mobile Application Development</a>
                  </li>
                  <li class="{% if page.url contains 'large-business/technology-consulting' %}active{% endif %}">
                    <a href="{{site.baseurl}}/services/large-business/technology-consulting.html">Technology Consulting</a>
                  </li>
                  <li class="{% if page.url contains 'enterprise-software' %}active{% endif %}">
                    <a href="{{site.baseurl}}/services/large-business/enterprise-software-development.html">Entriprise Software Development</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Careers</a>
                <ul class="dropdown-menu">
                  <li class="{% if page.url contains 'candidate-management' %}active{% endif %}">
                    <a href="{{site.baseurl}}/candidate-management.html">Candidate Management</a>
                  </li>
                  <li class="{% if page.url contains 'recruiter-management' %}active{% endif %}">
                    <a href="{{site.baseurl}}/recruiter-management.html">Recruiter Management</a>
                  </li>
                </ul>
              </li>

              <li class="{% if page.url contains 'contact' %}active{% endif %}">
                  <a href="{{site.baseurl}}/contact.html">
                      Contact
                  </a>
              </li>

              <li class="{% if page.url contains 'news' %}active{% endif %}">
                  <a href="{{site.baseurl}}/news.html">
                      News
                  </a>
              </li>

              <li class="{% if page.url contains 'events' %}active{% endif %}">
                  <a href="{{site.baseurl}}/events.html">
                      Events
                  </a>
              </li>

              <li class="{% if page.url contains 'case-studies' %}active{% endif %}">
                  <a href="{{site.baseurl}}/case-studies.html">
                      Case Studies
                  </a>
              </li>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

  </div>
  <!-- END HEADER -->

  {{content}}

  <!--=== Call To Action ===-->
  <div class="call-action-v1 bg-grey">
      <div class="container">
          <div class="call-action-v1-box">
              <div class="call-action-v1-in">
                  <p>We are 8(a), DBE, and MBE certified</p>
              </div>
              <i class="fa fa-certificate fa-4x pull-right"></i>
          </div>
      </div>
  </div>
  <!--=== End Call To Action ===-->

  <div class="footer">
      <div class="container">
          <div class="row">
              <!-- Link List -->
              <div class="col-md-3 md-margin-bottom-40">
                  <div class="headline"><h2>Site Map</h2></div>
                  <ul class="list-unstyled link-list">
                      <li><a href="{{site.baseurl}}/about.html">About</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="{{site.baseurl}}/services.html">Services</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="{{site.baseurl}}/candidate-management.html">Careers</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="{{site.baseurl}}/news.html">News</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="{{site.baseurl}}/events.html">Events</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="{{site.baseurl}}/case-studies.html">Case Studies</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="#">Contact</a><i class="fa fa-angle-right"></i></li>
                  </ul>
              </div><!--/col-md-3-->
              <!-- End Link List -->

              <!-- Services List -->
              <div class="col-md-3 md-margin-bottom-40">
                  <div class="headline"><h2>Services</h2></div>
                  <ul class="list-unstyled link-list">
                      <li><a href="{{site.baseurl}}/services/government.html">Government</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="{{site.baseurl}}/services/small-medium-business.html">Small-medium Business</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="{{site.baseurl}}/services/large-business.html">Large Business</a><i class="fa fa-angle-right"></i></li>
                  </ul>
              </div><!--/col-md-3-->
              <!-- End Services List -->

              <!-- Latest -->
              <div class="col-md-3 md-margin-bottom-40">
                  <div class="posts">
                      <div class="headline"><h2>Latest Posts</h2></div>
                      <ul class="list-unstyled latest-list">
                          <li>
                              <a href="#">Incredible content</a>
                              <small>May 8, 2014</small>
                          </li>
                          <li>
                              <a href="#">Best shoots</a>
                              <small>June 23, 2014</small>
                          </li>
                          <li>
                              <a href="#">New Terms and Conditions</a>
                              <small>September 15, 2014</small>
                          </li>
                      </ul>
                  </div>
              </div><!--/col-md-3-->
              <!-- End Latest -->

              <!-- Address -->
              <div class="col-md-3 map-img md-margin-bottom-40">
                  <div class="headline"><h2>Contact Us</h2></div>
                  <address class="md-margin-bottom-40">
                      Comcentia, LLC<br />
                      1025 W. Glen Oaks Lane<br />
                      Suite 211 <br />
                      Mequon, WI  53092<br />
                      +1.414.871.1100 <br />
                      Email: <a href="mailto:info@comcentia.com" class="">info@comcentia.com</a>
                  </address>
              </div><!--/col-md-3-->
              <!-- End Address -->
          </div>
      </div>
  </div><!--/footer-->

  <div class="copyright">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <p>
                      2015 &copy; All Rights Reserved.
                     <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                  </p>
              </div>

              <!-- Social Links -->
              <div class="col-md-6">
                  <ul class="footer-socials list-inline">
                      <li>
                          <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                              <i class="fa fa-facebook"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                              <i class="fa fa-skype"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                              <i class="fa fa-linkedin"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                              <i class="fa fa-twitter"></i>
                          </a>
                      </li>
                  </ul>
              </div>
              <!-- End Social Links -->
          </div>
      </div>
  </div><!--/copyright-->


</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/custom.js"></script>

<!-- JS Customization -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/custom.js"></script>

<!-- JS Page Level -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/app.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/plugins/owl-carousel.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/plugins/parallax-slider.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/forms/login.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/forms/contact.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/pages/page_contacts.js"></script>


<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        OwlCarousel.initOwlCarousel();
        ParallaxSlider.initParallaxSlider();
        ContactPage.initMap();
        LoginForm.initLoginForm();
        ContactForm.initContactForm();
    });
</script>

<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

</body>
</html>
